# Virtual Environments/Setup
.venv/
fir_rtl_model.egg-info/

# Testing & Tools
__pycache__/
.pytest_cache

# Personal Files/drafting
ThePlan/
TheNotes&Schematics/

# Generated Project Data Files
messy_stimulus.hex
expected_output.hex
fir_coeffs*
data_*


# Verilator/cocotb files
RTL_Architecture/sim_build/*
modelsim.ini
RTL_Architecture/dump.vcd
RTL_Architecture/results.xml
